<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <webview src="https://app.sendgrid.com/login" autosize="on" height="100%" id="opa"></webview>
        <webview src="https://www.github.com/" autosize="on" height="100%" id="pao" style="display: none"></webview>
        <button id="clicka">Clicka aqui ar</button>
    </div>
    <script>
        window.$ = window.jQuery = require('../../node_modules/jquery/dist/jquery.min.js');
    </script>
    <script src="../../node_modules//bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
</body>

</html>